@CHARSET "ISO-8859-1";
body {
	background-image: url("../images/prism.png");
    background-repeat: repeat;
   /* background-position: center center;
    background-attachment: fixed;    
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.4);
    background-color: hsl(230, 30%, 35%);
    background-blend-mode: lighten;*/
}
#color1 {
	background-color:#EBEBEB;
}
#color2 {
	background-color:#829CD0;
}
#color3 {
	background-color:#20368F;
}
#color4 {
	background-color:black;
}
tr:nth-child(even){
	background-color:#6D6D6D;
	
}
tr:nth-child(odd){
	background-color:#829CD0;
}
#line1 {
	height: 1px;
  color: black;
  background-color: black;
  border: none;
}
